body{
  background-color: #424242;
}
#gameArea {
  font-family: sans-serif;
  color: #FFFCD6;
}
#score-sheets {
  background-color: #424242;
}
.cell {
  text-align: left;
  font-size: 8pt;
  height: 6.6%;
  margin: 0px;
  padding: 0px;
  border: 1px solid #B388FF;
  color: white;
}
.textMargin {
  position: absolute;
  top: 20%;
  left: 5%;
}
.textMargin2 {
  position: absolute;
  top: 20%;
  left: 25%;
}
img {
  margin: 2% 4% 1% 1%;
  height: 70%;
  position: relative;
}

#dice{
  border-top: solid #2196F3 1pt;
  position: relative;
  text-align: left;
  border-collapse: collapse;
  background-color: #424242;
}

#dice div span {
  position: absolute;
  right: 2%;
  top: 10%;
  color: rgba(255, 255, 255, .45);
  font-size: 18pt;
}

.reroll {
  height: 35%;
  position: relative;
  background-color: #AED581;
}
.keep {
  height: 35%;
  position: relative;
  background-color: #B388FF;
}

.button {
  display: block;
  background-color: #fff;
  color: #6200EA;
  position: absolute;
  top: 80%;
  left: 25%;
  width: 50%;
  height: 20%;
  text-align: center;
}

.dropIn{
  background-color: #2196F3;
  -webkit-animation: slowlyAppear   1s linear; /* Chrome, Safari, Opera */
  animation: slowlyAppear 1s linear;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes slowlyAppear {
  from {background-color: #CCC66E;}
  to {background-color: #2196F3;}
}

/* Standard syntax */
@keyframes slowlyAppear {
  from {background-color: #CCC66E;}
  to {background-color: #2196F3;}
}


.carousel-indicators li {
  background-color: black;
}
.carousel-indicators .active {
  background-color: green;
}
td {
  padding:0 5px 0 5px;
}

.modal-dialog {
  z-index: 1001;
}
.overlayModal {
  text-align:center;
  z-index: 1000;
  position: absolute;
  left: 0%;
  top: 0%;
  width:100%;
  height:100%;
}
.modal-backdrop {
  z-index: 1000;
  position: absolute;
  left: 0%;
  top: 0%;
  width:100%;
  height:100%;
}